# =======================================================================
# Visual Studio Files to Ignore
# =======================================================================

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015/2017/2019/2022 cache/options directory
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Intermediate files (Object files, logs, etc.)
*.obj
*.ilk
*.pdb
*.tlog
*.idb
*.lastbuildstate
*.recipe
*.log
*.ipch

# Executables (We ignore them here because we will upload the specific release .exe manually as you planned)
*.exe
*.dll
*.so

# C++ Precompiled headers
*.gch
*.pch

# Backup and temporary files
*.bak
*.tmp
*.temp

# =======================================================================
# End of Visual Studio .gitignore
# =======================================================================